In [75]:
import pandas as pd
from tslearn.clustering import TimeSeriesKMeans, silhouette_score
from tslearn.utils import to_time_series_dataset

### Read data

In [76]:
df = pd.read_csv("all_coins_data.csv")
df.sort_values(["coin", "time"], inplace = True)
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversion_type,conversion_symbol,coin,daily_return_pct,intraday_return,daily_log_return
0,2020-08-22,0.1262,0.1183,0.1229,84207229.64,10373929.94,0.1253,direct,NaN,ADA,0.019528,0.019528,0.019340
1,2020-08-23,0.1259,0.1195,0.1253,64772529.12,7945897.18,0.1215,direct,NaN,ADA,-0.030327,-0.030327,-0.030797
2,2020-08-24,0.1270,0.1201,0.1215,77809944.45,9662533.63,0.1237,direct,NaN,ADA,0.018107,0.018107,0.017945
3,2020-08-25,0.1238,0.1063,0.1237,65939158.71,7699604.99,0.1126,direct,NaN,ADA,-0.089733,-0.089733,-0.094018
4,2020-08-26,0.1183,0.1107,0.1126,21686624.36,2483949.36,0.1144,direct,NaN,ADA,0.015986,0.015986,0.015859

### Generate Dataset

In [77]:
def generate_ts(df, tsfield, value):
    initstr = ""
    for val in df[tsfield].drop_duplicates():
        initstr += "df[df['{}']=='{}']['{}'].tolist(),".format(str(tsfield),str(val), str(value))
    return(initstr)

In [78]:
dfts = to_time_series_dataset([eval(generate_ts(df=df, tsfield="coin", value="daily_log_return"))])

array([[[ 0.01933985, -0.0307966 ,  0.01794502, ..., -0.05024471,
          0.01215293, -0.02711141],
        [ 0.06170966,  0.0836861 ,  0.02587945, ..., -0.03866028,
          0.00085653, -0.03573365],
        [ 0.13622624,  0.2839385 , -0.03920196, ..., -0.0442896 ,
          0.09011435, -0.0453152 ],
        ...,
        [ 0.05425351, -0.01747508,  0.0453044 , ..., -0.07714103,
         -0.02356425, -0.036744  ],
        [ 0.13490108, -0.11671084,  0.14539829, ...,  0.00061131,
         -0.0479783 , -0.03572602],
        [ 0.04483624,  0.09358182, -0.04992232, ..., -0.05757453,
         -0.01487033, -0.04664934]]])

### Clustering

In [91]:
n_clusters = range(3,100)

In [93]:
for c in n_clusters:
    km = TimeSeriesKMeans(n_clusters=c, metric="dtw")
    labels = km.fit_predict(dfts)
    print(c, " Clusters", "labels", len(labels))
    #silhouette_score(dfts, labels, metric="dtw")

3  Clusters labels 1